* {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
  }
  
  
  .bg_image{
    background-image: url("image/뒷배경2.png");
    background-size: contain
  }

  .img-container {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
  }
  
  .nav {
    width: 100%;
    background-color: #D8C8B2;
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .nav ul li a {
    padding: 0 10px;
    color: white;
  }
  
  /* a 요소에 적용된 스타일을 클래스 .custom-link로 변환 */
.custom-link {
  background-color:  #1583AF;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.custom-link:hover, .custom-link:active {
  background-color:#18B4E9 ;
}

  .text-box {
    border: 5px;
    border-radius: 5px;
    padding: 30px;
    background-color: #ffffff;
    margin: 15px auto;
    width: 80%;
    max-width: 800px;
  }
  
  .circle-image {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    margin: 30px auto;
  }
  
  .profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .bg_image2 {
    background-image: url("image/뒷배경1.png");
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    padding: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown:hover .dropdown-content { display: block; }
  
  .box, .box2, .box3, .box4, .box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Flex direction을 column으로 설정하여 내용물이 수직으로 쌓이도록 합니다. */
    width: 80%;
    max-width: 300px;
    margin: 50px auto;
    padding-inline: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
  }
  
  .box { background-color: #DDE7E7; }
  .box2 { background-color: #D77964; }
  .box3 { background-color: #EBBC6B; }
  .box4 { background-color: #6979BB; }
  .box5 { background-color: #733E7F; }
  
  /* 반응형 디자인을 위한 미디어 쿼리 */
  @media (max-width: 768px) {
    .text-box, .box, .box2, .box3, .box4, .box5 {
      width: 95%;
      padding: 15px;
    }
  
    .nav ul {
      flex-direction: column;
    }
  
    .nav ul li a {
      padding: 10px 0;
    }
    .box img, .box2 img, .box3 img, .box4 img, .box5 img {
      max-width: 100%;
      height: auto;
    }
  }
  
  